/* Color Legends */
:root {
    --color-blue-1: #0086D4;
    --color-blue-2: #0755AA;
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: flex;
}

.htmx-request.htmx-indicator {
    display: flex;
}

.netflix-logo {
    position: relative;
    width: 360px;
    height: 520px;
    overflow: hidden;
    transform: scale(.8);
}

.netflix-logo span {
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    background: #fff;
}

.netflix-logo span:nth-child(1) {
    background: var(--color-blue-2);
    left: 0;
}

.netflix-logo span:nth-child(2) {
    background: var(--color-blue-1);
    left: 0;
    z-index: 1;
    transform: skew(25deg);
    transform-origin: top left;
    box-shadow: 0 0 40px rgba(#030712, 1);
}

.netflix-logo span:nth-child(3) {
    background: var(--color-blue-2);
    right: 0;
}

.netflix-logo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 120px;
    background: #030712;
    z-index: 2;
    border-radius: 100% 100% 0 0;
    transform: scaleX(1.5);
}

.netflix-logo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(to right, transparent, #030712, #030712);
    z-index: 3;
    /* repeat infinate */
    animation: show 3s linear forwards;
}

@keyframes expand {
    0% {
        letter-spacing: 0;
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: .6;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes show {
    0% {
        right: 0;
    }

    100% {
        right: -400%;
    }
}

#box-loader {
    /* Uncomment this to make it run! */

    animation: loader 5s linear infinite;


    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@keyframes loader {
    0% {
        left: -100px
    }

    100% {
        left: 110%;
    }
}

#box {
    width: 50px;
    height: 50px;
    background: #fff;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

#shadow {
    width: 50px;
    height: 5px;
    background: #030712;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}