@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Geist';
      font-display: swap;
      src: url(/assets/fonts/Geist-1.3.0/GeistVF.woff2) format('woff2');
    }
  }