@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    font-display: swap;
    src: url(/assets/fonts/GeistVF.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Bebas Neue';
    font-display: swap;
    src: url(/assets/fonts/BebasNeue-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(/assets/fonts/NetflixSans_W_Th.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(/assets/fonts/NetflixSans_W_Lt.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(/assets/fonts/NetflixSans_W_Rg.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(/assets/fonts/NetflixSans_W_Md.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(/assets/fonts/NetflixSans_W_Bd.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(/assets/fonts/NetflixSans_W_Blk.woff2) format('woff2');
  }
}


[contenteditable] {
  outline: 0px solid transparent;
}