@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    font-display: swap;
    src: url(/assets/fonts/GeistVF.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Bebas Neue';
    font-display: swap;
    src: url(/assets/fonts/BebasNeue-Regular.ttf) format('truetype');
  }
}


[contenteditable] {
  outline: 0px solid transparent;
}