package components

templ Base(Head templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<script src="assets/js/htmx.min.js"></script>
			// <script src="assets/js/hyperscript.min.js"></script>
			<script src="https://telegram.org/js/telegram-web-app.js"></script>
			<link href="assets/css/tailwind.min.css" rel="stylesheet"/>
			@Head
		</head>
		<body class="bg-gray-950 h-full font-geist">
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
